.contentStudio-link {
    display: flex;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 10px 1px rgba(33,33,33,.5);
    transition: all 0.2s;
    z-index: 16000000;
    opacity: 0.7;
    overflow: hidden;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contentStudio-link.small {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.contentStudio-link:hover {
    color: #202020;
    text-decoration: none;
    background: #E6E6E6;
    opacity: 1;
    width: 110px;
    justify-content: flex-start;
}

.contentStudio-link.no:hover {
    width: 140px;
}

.contentStudio-link.small:hover {
    width: 75px;
}
.contentStudio-link.small.no:hover {
    width: 100px;
}

.contentStudio-link .contentStudio-link__label {
    font-size: 18px;
    opacity: 0;
    display: none;
    transition: opacity 0.2s;
    margin-left: 8px;
}

.contentStudio-link.small .contentStudio-link__label {
    font-size: 12px;
    line-height: 18px;
}

.contentStudio-link:hover .contentStudio-link__label {
    display: inline-block;
    opacity: 1;
}

.contentStudio-link img {
    height: 52px;
    width: 52px;
}

.contentStudio-link.small img {
    height: 31px;
    width: 31px;
}

@media only screen and (min-width: 769px) {
    .contentStudio-link.top {
        top: 20px;
    }

    .contentStudio-link.left {
        left: 20px;
    }

    .contentStudio-link.bottom {
        bottom: 20px;
    }

    .contentStudio-link.right {
        right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .contentStudio-link.top {
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }

    .contentStudio-link.left {
        left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
    }

    .contentStudio-link.bottom {
        bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .contentStudio-link.right {
        right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
    }
}
